body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-image: url("/assets/bg_snake_logo.png");
    background-size: 50px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

canvas {
    border: 3px double black;
    background-image: url("/assets/display.png");
}

#scores {
    border: 3px double black;
    color: black;
    background-image: url("/assets/display.png");
    margin: 50px;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    font-variant-caps: unicase;
}

#restart {
    color: #cecece;
    font-weight: 200;
    font-size: 7px;
    font-variant-caps: initial;
}

#game-over {
    padding-top: 5px;
    color: #6f2323;
}

