body {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    /*background-color: #43485a;*/

    background-image: url("/assets/snake_logo.png");
    background-size: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center
}

canvas {
    border: 3px double black;
    /*background-color: #96d202;*/
    background-image: url("/assets/display.png");
}

#scores {
    border: 3px double black;
    color: black;
    /*background-color: white;*/
    background-image: url("/assets/display.png");
    margin: 50px;
    height: 40px;
    width: 300px;
    text-align: center;
}

